global
    maxconn 4096
    nbthread 1
    tune.bufsize 8192
    tune.maxrewrite 1024

defaults
    mode http
    timeout connect 5s
    timeout client 75s
    timeout server 75s
    timeout http-keep-alive 75s
    option http-keep-alive
    option dontlognull

frontend rinha
    bind :9999
    default_backend api

backend api
    balance roundrobin
    http-reuse always
    server api1 /sockets/api1.sock
    server api2 /sockets/api2.sock
